.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
}

.footer_inner_container {
    width: 60%;
}

.footer_icon {
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}

.footer_icon svg {
    transition: color 0.3s ease;
}

.footer_icon svg:hover {
    color: #f0f0f0; /* Change this to the color you want on hover */
}

.footer_data {
    display: flex;
    justify-content: space-between;
}

.footer_data ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}

.footer_data ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer_data ul li:hover {
    color: #f0f0f0; /* Change this to the color you want on hover */
}

.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 12%;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.service_code:hover {
    background-color: #fff; /* Change this to the background color you want on hover */
    color: #111; /* Change this to the text color you want on hover */
}

.copy-write {
    font-size: 12px;
    margin-bottom: 10px;
}
